# General Config
APP_PORT=
UI_URL=
EMAIL_CONFIRMATION_URL=
EMAIL_RESET_PASSWORD_URL=
MAX_HOURS_TO_AUTO_CANCEL_ORDER=
MAX_HOURS_TO_DELETE_SHOPPING_CART=

# Secrets
SECRET_KEY=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SECURE=
SENDER_EMAIL=
SENDER_NAME=

# Database
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=