# General Config
APP_PORT=
NODE_ENV=
UI_URL=
EMAIL_CONFIRMATION_URL=
EMAIL_RESET_PASSWORD_URL=
TROPIPAY_URL_SUCCESS=
TROPIPAY_URL_FAILURE=
TROPIPAY_URL_NOTIFICATION=
MAX_HOURS_TO_AUTO_CANCEL_ORDER=
MAX_HOURS_TO_DELETE_SHOPPING_CART=

# Secrets
SECRET_KEY=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
TROPIPAY_CLIENT_ID=
TROPIPAY_CLIENT_SECRET=
SWAGGER_PASSWORD=

# Minio
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_BUCKET_NAME=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SECURE=
SENDER_EMAIL=
SENDER_NAME=

# Database (MySQL)
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=